

.main {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.buscador {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.buscador input {
  width: 400px;
  height: 40px;
  font-size: 18px;
}

.buscador h2 {
  font-weight: 100;
  font-size: 24px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 350px;
  overflow-y: hidden;
}

.recipe-card .info {
  display: flex; 
  align-items: flex-start; 
  flex-direction: column;
  text-align: left;
  width: 100%;

}

.recipe-card img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.photo {
  width: 100%;
  height: 350px;
  border:  1px color(black);
}

.ver-btn {
  padding: 12px 16px;
  color: white;
  background-color: rgb(0,117,255);
  margin-top: 12px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  border-radius: 8px;
}

p {
  font-size: 18px;
  padding-top: 12px;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 12px;
  margin: 0;
}





