
.main {
  margin: 40px 150px;
  align-items: center;
}

.recipe-card {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 16px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 900px;
}

.colu {
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.recipe-card .info {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  text-align: left;
  width: 100%;
  flex-direction: column;
}

.recipe-card img {
  width: 100%;
  max-height: 600px;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  padding-bottom: 12px;
}

.ver-btn {
  padding: 12px 16px;
  color: white;
  background-color: rgb(0,117,255);
  margin-top: 12px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  border-radius: 8px;
}

p {
  font-size: 18px;
  padding-top: 12px;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 12px;
  margin: 0;
}

h2 {
  margin: 0;
  padding-bottom: 6px;
  padding-top: 38px;
}





